<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{collection.title}}</title>
  <link rel="stylesheet" type="text/css" href="{{static_files}}/style.css">
</head>

<body>

<div id="bodyContent">

<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
  <td class="s0" colspan="19">{{collection.title}}</td>
  <td class="s3" colspan="21">{{date}}</td>
</tr>
  {% for record in records %}
<tr style="height:4px">
<td colspan="26" class="s2" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:4px">
<td/><td/><td/><td colspan="2" rowspan="2" class="s3">{{record.value}}</td><td colspan="6" rowspan="2" class="s15">{{record.unit}}</td><td colspan="11" rowspan="2" class="s15">{{record.subjectshort}}</td><td colspan="4" rowspan="2" class="s15">{{record.catalognum1}}</td>
</tr>
<tr style="height:11px">
<td rowspan="7" class="s6" style="font-size:1px"><img src="{{static_files}}/{{record.obverseimg}}" width="77" height="77" alt=""></td><td rowspan="7" class="s7" style="font-size:1px"><img src="{{static_files}}/{{record.reverseimg}}" width="77" height="77" alt=""></td><td/>
</tr>
<tr style="height:11px">
<td/><td colspan="2" class="s16">{{titles.year}}:</td><td colspan="3" class="s17">{{record.year}}</td><td colspan="3" class="s18">{{titles.country}}:</td><td colspan="15" class="s17">{{record.country}}</td>
</tr>
<tr style="height:11px">
<td/><td colspan="2" class="s16">{{titles.period}}:</td><td colspan="12" class="s17">{{record.period}}</td><td colspan="2" class="s18">{{titles.material}}:</td><td colspan="7" class="s17">{{record.material}}</td>
</tr>
<tr style="height:11px">
<td/><td colspan="2" class="s16">{{titles.edgeimg}}:</td><td colspan="7" class="s19">{{record.edge}}</td><td colspan="9" class="s17">{{record.edgelabel}}</td><td colspan="3" class="s18">{{titles.fineness}}:</td><td colspan="2" class="s17">{{record.fineness}}</td>
</tr>
<tr style="height:11px">
<td/><td colspan="3" class="s16">{{titles.mintmark}}:</td><td colspan="2" class="s17">{{record.mintmark}}</td><td colspan="2" class="s18">{{titles.mintage}}:</td><td colspan="4" class="s19">{{record.mintage}}</td><td colspan="2" class="s16">{% if record.issuedate %}{{titles.issuedate}}{% else %}{{titles.dateemis}}{% endif %}:</td><td colspan="10" class="s17">{% if record.issuedate %}{{record.issuedate}}{% else %}{{record.dateemis}}{% endif %}</td>
</tr>
<tr style="height:11px">
<td/><td colspan="4" class="s16">{{titles.features}}:</td><td colspan="19" class="s20">{{record.features}}</td>
</tr>
<tr style="height:7px">
<td/><td class="s21">{{titles.price1}}:</td><td colspan="4" class="s22">{{record.price1}}</td><td class="s21">{{titles.price2}}:</td><td colspan="3" class="s22">{{record.price2}}</td><td class="s21">{{titles.price3}}:</td><td class="s22">{{record.price3}}</td><td class="s23">{{titles.price4}}:</td><td colspan="3" class="s22">{{record.price4}}</td>
</tr>
  {% endfor %}
<tr style="height:4px">
<td colspan="28" class="s1" style="font-size:1px">&nbsp;</td>
</tr>
</tbody>
</table>

</div>

</body>
</html>
