p.breakhere {
    page-break-before: always;
    margin-bottom: 0;
    margin-top: 0;
}

td {
	font-size: 10pt; color: #001f4b; font-family: "Times New Roman", Times, serif;
	}
p {
	font-size: 10pt; color: #001f4b; font-family: "Times New Roman", Times, serif;
	}
li {
	font-size: 10pt; color: #001f4b; font-family: "Times New Roman", Times, serif;
	}
A {
	color: #001f4b; font-family: "Times New Roman", Times, serif; text-decoration: underline
	}
body, html 
{
	padding:0;
	margin:0;
	background-color: #FFFFFF;
	height: 100% !important;
	}
A:visited {
	color: #001f4b; font-family: "Times New Roman", Times, serif; text-decoration: underline
	}
A:hover {
	color: #556a78; font-family: "Times New Roman", Times, serif; text-decoration: underline
	}
A:active {
	color: #001f4b; font-family: "Times New Roman", Times, serif; text-decoration: underline
	}
TD.menu A {
	color: #001f4b; font-family: "Times New Roman", Times, serif; text-decoration: none
	}
TD.menu A:visited {
	color: #001f4b; font-family: "Times New Roman", Times, serif; text-decoration: none
	}
TD.menu A:hover {
	color: #556a78; font-family: "Times New Roman", Times, serif; text-decoration: none
	}
TD.menu A:active {
	color: #001f4b; font-family: "Times New Roman", Times, serif; text-decoration: none
	}
