[Desktop Entry]
Version=1.4.3
Type=Application
Terminal=false
Exec=/usr/bin/open-numismat
Icon=/usr/lib/python3/dist-packages/OpenNumismat/icons/main.ico
Name=OpenNumismat
Comment=Coin collecting software for organize and manage your own catalogue
Categories=Utility
