[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/open-numismat
Icon=open-numismat
Name=OpenNumismat
Comment=Coin collecting software for organize and manage your own catalogue
Categories=Utility
