<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{collection.title}}</title>
  <link rel="stylesheet" type="text/css" href="{{static_files}}/style.css">
</head>

<body>

<div id="bodyContent">
<div class="title">
{{collection.title}}
</div>

<div>
{% for region_group in records|groupby('region') %}
  <header>{{ region_group.grouper }}</header>
  {% for country_group in region_group.list|groupby('country') %}
    {% for period_group in country_group.list|groupby('period') %}
      <header>{{ country_group.grouper }} • {{ period_group.grouper }}</header>

      {%- set vars = {'max_mint_count': 0} %}
      {%- for year_group in period_group.list|groupby('year') %}
        {%- set mint_count = year_group.list|groupby('mintmark')|length %}
        {%- if year_group.list|groupby('mintmark')|length > vars.max_mint_count %}
          {%- if vars.update({'max_mint_count': mint_count}) %}{% endif %}
        {%- endif %}
      {%- endfor %}
      
      <table class="coins">
        <thead>
          <th>{{titles.year}}</th>
          {%- if vars.max_mint_count > 1 %}
            <th>{{titles.mintmark}}</th>
          {%- endif %}
          {%- for unit_group in period_group.list|groupby('unit') %}
            {%- for value_group in unit_group.list|groupby('value_raw') %}
              <th>{{ value_group.grouper }}{{ unit_group.grouper[0] }}</th>
            {%- endfor %}
          {%- endfor %}
        </thead>
        <tbody>
          {%- if vars.max_mint_count > 1 %}
            {%- for years_group in period_group.list|groupby('year')|reverse %}
              {%- for mints_group in years_group.list|groupby('mintmark') %}
                <tr>
                  {%- if loop.first %}
                    <th rowspan="{{ loop.length }}">{{ years_group.grouper }}</th>
                  {%- endif %}
                  <th>{{ mints_group.grouper }}</th>

                  {%- for unit_group in period_group.list|groupby('unit') %}
                    {%- for value_group in unit_group.list|groupby('value_raw') %}

                      {%- set coins_group = value_group.list | selectattr("year", "equalto", years_group.grouper) | list | selectattr("mintmark", "equalto", mints_group.grouper) | list %}
                      {%- if coins_group | length %}
                        {%- set coins_group_owned = coins_group | selectattr("status_raw", "in", ('owned', 'ordered', 'sale', 'duplicate', 'replacement')) | list %}
                        {%- if coins_group_owned | length %}
                          <td class="owned">{{ coins_group_owned | length }}</td>
                        {%- else %}
                          <td class="need"></td>
                        {%- endif %}
                      {%- else %}
                        <td class="empty">-</td>
                      {%- endif %}

                    {%- endfor %}
                  {%- endfor %}
                </tr>
              {%- endfor %}
            {%- endfor %}
          {%- else %}
            {%- for years_group in period_group.list|groupby('year')|reverse %}
              <tr>
                <th>{{ years_group.grouper }}</th>
                {%- for unit_group in period_group.list|groupby('unit') %}
                  {%- for value_group in unit_group.list|groupby('value_raw') %}

                    {%- set coins_group = value_group.list | selectattr("year", "equalto", years_group.grouper) | list %}
                    {%- if coins_group | length %}
                      {%- set coins_group_owned = coins_group | selectattr("status_raw", "in", ('owned', 'ordered', 'sale', 'duplicate', 'replacement')) | list %}
                      {%- if coins_group_owned | length %}
                        <td class="owned">{{ coins_group_owned | length }}</td>
                      {%- else %}
                        <td class="need"></td>
                      {%- endif %}
                    {%- else %}
                      <td class="empty">-</td>
                    {%- endif %}
                  {%- endfor %}

                {%- endfor %}
              </tr>
            {%- endfor %}
          {%- endif %}
        </tbody>
      </table>
      
      <br>

      {% if not loop.last %}
        <p class="breakhere"></p>
      {% endif %}

    {% endfor %}
  {% endfor %}
{% endfor %}
</div>

<div class="footer">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
  <td>Generated by OpenNumismat</td>
  <td align="right">{{date}}</td>
</tr>
</tbody>
</table>
</div>

</body>
</html>
