<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{collection.title}}</title>
  <link rel="stylesheet" type="text/css" href="{{static_files}}/style.css">
</head>

<body>

<div id="bodyContent">

{% for group in records|groupby('year') %}
<h3>{{ group.grouper }}</h3>
<table class="standard" border="1" cellpadding="2" cellspacing="0" style="background: #f9f9f9; border: 1px solid #aaaaaa; border-collapse: collapse">
<thead><tr>
<th>{{titles.reverseimg}}</th>
<th>{{titles.country}}</th>
<th>{{titles.title}}</th>
<th>{{titles.mintage}}</th>
<th>{{titles.issuedate}}</th>
</tr></thead><tbody>
  {% for record in group.list|sort(attribute='issuedate') %}
<tr>
<td style="width:160px;" rowspan="2">
<center><a href="{{static_files}}/{{record.reverseimg}}" class="image"><img src="{{static_files}}/{{record.reverseimg}}" width="150"></a></center>
</td>
<td>{{record.country}}</td>
<td>{% if record.subjectshort %}{{record.subjectshort}}{% else %}{{ record.title }}{% endif %}</td>
<td>{{record.mintage}}</td>
<td><span style="white-space: nowrap;">{{record.issuedate}}</span></td>
</tr>
<tr>
<td colspan="5">{{record.subject}}</td>
</tr>
    {% if not loop.last %}
<tr>
<td colspan="5">&nbsp;</td>
</tr>
    {% endif %}
  {% endfor %}
</tbody><tfoot></tfoot></table>
{% endfor %}

</div>

</body>
</html>
