<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>База данных по памятным и инвестиционным монетам | Банк России</title>
	<link rel="stylesheet" type="text/css" href="{{static_files}}/style.css">

</head>

<body leftmargin="0" topmargin="0" bgcolor="#ffffff" marginheight="0" marginwidth="0">


<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr>
	<td background="{{static_files}}/bg.gif" valign="top" width="15"><img src="{{static_files}}/temp.gif" height="1" width="15"></td>
	<td valign="top">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
	<td bgcolor="#FFCC00" valign="top" width="8"><img src="{{static_files}}/temp.gif" height="1" width="8"></td>
	<td bgcolor="#FFCC00" width="100%"><a href="http://www.cbr.ru/">Главная страница</a> Банкноты и монеты <font color="#9C1000"><b>База данных по памятным и инвестиционным монетам</b></font></td>							
</tr>
</tbody></table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
	<td valign="top" width="20"><img src="{{static_files}}/temp.gif" height="1" width="20"></td>

	<td class="content" valign="top" width="100%">
<br>
	

<table bgcolor="#4B5B65" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr><td bgcolor="#4B5B65" width="100%"><img src="{{static_files}}/temp.gif" height="3" width="1"></td></tr>
<tr><td>
<table border="0" cellspacing="1" width="100%">
  <tbody><tr align="center" bgcolor="white">
    <td width="10%">{{records[0].issuedate_title}}</td>

  <td width="15%">{{records[0].catalognum1_title}}</td>

  <td width="15%">{{records[0].denomination_title}}</td>
    <td align="left" valign="center"><dd>{{records[0].title_title}}</dd></td>
  </tr>
  <tr bgcolor="#ffffff"><td colspan="4"><b><br></b></td></tr>
  {% for record in records %}
    <tr bgcolor="#ffffff">
      <td align="center">{{record.issuedate}}</td>
      <td align="center">{{record.catalognum1}}</td>
      <td>&nbsp; <font size="2">{{record.denomination}}</font></td>
      <td class="menu"><a href="coin_{{record.id}}.htm">{% if record.subjectshort %}{{record.subjectshort}}{% else %}{{record.title}}{% endif %}</a></td>
    </tr>
  {% endfor %}
  <tr bgcolor="#ffffff"><td colspan="4"><b><br>Спортивная серия: Кубок мира по спортивной ходьбе (г. Чебоксары)</b></td></tr>
  <tr bgcolor="#ffffff">
    <td align="center">03.03.2008</td>

<td align="center">5111-0167</td>

<td>&nbsp; <font size="2">3 рубля</font></td>
    <td class="menu"><a href="http://www.cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5111-0167" target="_TOP">
Кубок мира по спортивной ходьбе (г. Чебоксары)</a>
</td>
</tr>
  
</tbody></table></td></tr></tbody></table>
<br>

</td>
          <td valign="top" width="15"><img src="{{static_files}}/temp.gif" height="1" width="15"></td></tr></tbody></table>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td bgcolor="#ffcc00" height="6"><img src="{{static_files}}/temp.gif" height="6" width="1"></td></tr>
        <tr>
          <td height="6"><br></td></tr>
        <tr>
	<td align="center">
        Generated by <a href="http://code.google.com/p/open-numismat/">OpenNumismat</a><br>
    </td>
</tr><tr>
<td align="center">

</td>
</tr></tbody></table>
</td>
    <td background="{{static_files}}/bg.gif" valign="top" width="15"><img src="{{static_files}}/temp.gif" height="1" width="15"></td></tr></tbody></table>
</body></html>
