Source: open-numismat
Section: x11
Priority: optional
Maintainer: Vitaly Ignatov <opennumismat@gmail.com>
Build-Depends: debhelper (>= 10), python3, dh-python, dh-virtualenv
Standards-Version: 4.0.0
Homepage: http://opennumismat.github.io/

Package: open-numismat
Architecture: all
Depends: ${misc:Depends}, python3 (>= 3.10)
Description:  Coin collecting software for organize and manage your own catalogue
 OpenNumismat is a handy and reliable application aimed at coin lovers,
 numismatists or amateurs looking to create a numismatics collection.
 .
 With OpenNumismat, you will be able to create, organize and manage your own
 coin catalogue with detailed description and photos for each of the items.
