Source: open-numismat
Section: misc
Priority: extra
Maintainer: Vitaly Ignatov <ignatov.vit@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python3
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/open-numismat/

Package: open-numismat
Architecture: all
Depends: python3, python3-pyqt4, python3-pyqt4.qtsql, python3-jinja2, python3-lxml
X-Python3-Version: >= 3.2
Description:  Coin collecting software for organize and manage your own catalogue
 OpenNumismat is a handy and reliable application aimed at coin lovers,
 numismatists or amateurs looking to create a numismatics collection.
 .
 With OpenNumismat, you will be able to create, organize and manage your own
 coin catalogue with detailed description and photos for each of the items.
