Source: open-numismat
Section: misc
Priority: optional
Maintainer: Vitaly Ignatov <opennumismat@gmail.com>
Build-Depends: debhelper (>= 9), python3, python3-setuptools
Standards-Version: 3.9.5
Homepage: http://opennumismat.github.io/

Package: open-numismat
Architecture: all
Depends: ${misc:Depends}, python3, python3-pyqt5, python3-pyqt5.qtsql, libqt5sql5-sqlite, python3-pyqt5.qtwebkit, python3-jinja2, python3-matplotlib, python3-numpy, python3-lxml, python3-xlrd, python3-xlwt, python3-dateutil
X-Python3-Version: >= 3.2
Description:  Coin collecting software for organize and manage your own catalogue
 OpenNumismat is a handy and reliable application aimed at coin lovers,
 numismatists or amateurs looking to create a numismatics collection.
 .
 With OpenNumismat, you will be able to create, organize and manage your own
 coin catalogue with detailed description and photos for each of the items.
