<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{collection.title}}</title>
  <link rel="stylesheet" type="text/css" href="{{static_files}}/style.css">
</head>

<body>

<div id="bodyContent">

<table width="100%" border="1">
<thead><tr>
<th>{{titles.image}}</th>
<th>{{titles.title}}</th>
<th>{{titles.value}}</th>
<th>{{titles.unit}}</th>
<th>{{titles.mintmark}}</th>
<th>{{titles.country}}</th>
<th>{{titles.period}}</th>
<th>{{titles.year}}</th>
<th>{{titles.subjectshort}}</th>
<th>{{titles.mintage}}</th>
<th>{{titles.material}}</th>
<th>{{titles.fineness}}</th>
<th>{{titles.quality}}</th>
<th>{{titles.catalognum1}}</th>
<th>{{titles.rarity}}</th>
<th>{{titles.status}}</th>
<th>{{titles.quantity}}</th>
<th>{{titles.grade}}</th>
</tr></thead>
<tbody>
  {% for record in records %}
<tr>
<td><img src="{{static_files}}/{{record.image}}"></td>
<td>{{record.title}}</td>
<td>{{record.value}}</td>
<td>{{record.unit}}</td>
<td>{{record.mintmark}}</td>
<td>{{record.country}}</td>
<td>{{record.period}}</td>
<td>{{record.year}}</td>
<td>{{record.subjectshort}}</td>
<td>{{record.mintage}}</td>
<td>{{record.material}}</td>
<td>{{record.fineness}}</td>
<td>{{record.quality}}</td>
<td>{{record.catalognum1}}</td>
<td>{{record.rarity}}</td>
<td>{{record.status}}</td>
<td>{{record.quantity}}</td>
<td>{{record.grade}}</td>
</tr>
  {% endfor %}
</tbody>
</table>

</div>

</body>
</html>
