<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="{{static_files}}/numis_admin.css">

<title>{{collection.title}}</title>
</head><style type="text/css"></style>
<body leftmargin="1" marginheight="1" marginwidth="1" bottommargin="1" topmargin="1" rightmargin="1" background="{{static_files}}/bg_default_login.gif">
<div id="ToolTipDiv" class="toolTip"> </div>

<div style="width:100%;text-align:center;"><table cellpadding="0" cellspacing="0" border="0" id="wrapper"><tbody>
  <tr><td id="content">
<div id="PAGE_BODY" class="adminBodyDiv" width="100%">

<div class="reportTable" style="width:100%">
  <table border="0" width="100%" class="c_z64" cellpadding="1" cellspacing="0">
    <style>.reportTable TABLE {border: 0px;}</style>
    <tbody>
{% for group in records|groupby('country') %}
      <tr><td width="100%">
        <table class="coinSearchRes" cellspacing="0"><tbody></tbody><thead class="group">
          <tr><td colspan="8">
            <div class="lbl_1">{{group.grouper}}</div>
<!--        <div class="lbl_3">Reform Coinage (January 1, 1998)</div>  -->
          </td></tr>
        </thead><thead>
      <tr>
       <td><h2>{{titles.catalognum1}}</h2></td>
       <td><h2>{{titles.image}}</h2></td>
       <td><h2>{{titles.value}}</h2></td>
       <td nowrap=""><h2>{{titles.dateemis}}</h2></td>
       <td><h2>{{titles.material}}</h2></td>
       <td><h2>{{titles.subjectshort}}</h2></td>
       <td>&nbsp;</td>
      </tr>
        </thead>
        <tbody>
  {% for record in records %}
          <tr></tr>
          <tr>
            <td class="cat"><div>{{record.catalognum1}}</div></td>
            <td class="pic"><img src="{{static_files}}/{{record.image}}"></td>
            <td class="denom">{{record.value}} {{record.unit|lower}}</td>
            <td class="dates">{{record.dateemis}}</td>
            <td class="comp">{{record.material}}</td>
            <td class="desc">{{record.subjectshort}}</td>
            <td class="cntr"><a class="lk_away" href="{% if single_file %}#id_{{record.id}}{% else %}coin_{{record.id}}.htm{% endif %}">View&nbsp;details</a></td>
          </tr>
  {% endfor %}
        </tbody>
        </table>
      </td></tr>
{% endfor %}
      <tr><td>
        <table cellpadding="0" cellspacing="0" width="100%"><tbody>
          <tr><td><div class="coinSearchHead"></div></td><td><div class="line2_b"></div></td></tr>
        </tbody></table>
      </td></tr>
    </tbody>
  </table>
</div></div></div></div></td></tr>
</tbody></table>

    {% if single_file %}
      {% for record in records %}
        <p class="breakhere"><a name="id_{{record.id}}"></p>
        {% include 'coin_body.htm' %}
      {% endfor %}
    {% endif %}

</div></body></html>
