<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{collection.title}}</title>
  <link rel="stylesheet" type="text/css" href="{{static_files}}/style.css">
</head>

<body>

<div id="bodyContent">

<table class="standard" border="1" cellpadding="2" cellspacing="0" style="background: #f9f9f9; border: 1px solid #aaaaaa; border-collapse: collapse">
<thead><tr>
<th>{{titles.issuedate}}</th>
<th>{{titles.catalognum1}}</th>
<th>{{titles.mintage}}<br>
(- {{titles.quality}})</th>
<th>{{titles.value}}</th>
<th>{{titles.material}}</th>
<th>{{titles.title}}</th>
<th>{{titles.obverseimg}}</th>
<th>{{titles.reverseimg}}</th>
</tr></thead>
<tbody>
  {% for record in records|sort(attribute='catalognum1')|sort(attribute='issuedate') %}
<tr>
<td>{{record.issuedate}}</td>
<td>{% if record.url %}<a rel="nofollow" href="{{record.url}}">{% endif %}{{record.catalognum1}}{% if record.url %}</a>{% endif %}</td>
<td>
<p style="text-align:right;"><span style="white-space: nowrap;">{{record.mintage}}</span>{% if record.quality %}<span style="white-space: nowrap;"> - {{record.quality}}</span>{% endif %}</p>
</td>
<td>
<p style="text-align:right;"><span style="white-space: nowrap;">{{record.value}}</span></p>
</td>
<td>{{record.material}}</td>
<td>{% if record.subjectshort %}{% if record.series %}<b>{{record.series}}:</b> {% endif %}{{record.subjectshort}}{% else %}{{record.title}}{% endif %}</td>
<td><a href="{{static_files}}/{{record.obverseimg}}" class="image"><img src="{{static_files}}/{{record.obverseimg}}" width="120"></a></td>
<td><a href="{{static_files}}/{{record.reverseimg}}" class="image"><img src="{{static_files}}/{{record.reverseimg}}" width="120"></a></td>
</tr>
  {% endfor %}
</tbody>
</table>

</div>

</body>
</html>
